/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}
html, body {
  margin:0;
  padding:0px;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
input{
  border:1px solid #b0b0b0;
  padding:3px 5px 4px;
  color:#979797;
  width:190px;
}
address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
/* Start my CSS*/

body {
  margin: 0;
}
.container {
}
h1 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.875em;
  color: #323232;
}
h2 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
}
h3 {
  font-family: 'PT Serif Regular', serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}
p {
  font-family: 'PT Serif Regular', serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
}

.header {
  height: 80px;
  position: relative;

}
.logo {
  width: 50%;
  position:absolute;
  bottom: 20px;
  left: 20px;

}

.nav {
  width: 50%;
  text-align: right;
  position:absolute;
  bottom: 20px;
  right: 20px;
}

.nav li {
  font-family: 'PT Sans-Serif', sans-serif;
  display:inline;
}

.logo h1 {
  font-family: 'PT Sans-Serif Narrow Bold', sans-serif;
  font-size: 1.5em;
  color: #323232;
}
.main {
  width: 40%;
  margin: auto;
  text-align: center;
}
.main h1 {
  padding-top:80px;
  padding-bottom: 45px
}
.thumbnail {
  width: 100%;
}




/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
